.categories-container {
  display: flex;
  flex-direction: column; /* Ensure button appears below the categories */
  align-items: center; /* Center button horizontally */
  overflow: hidden;
}

.categories-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* Add gap between cards */
}
.categories-card {
  flex: 0 0 calc(30.20% - 30px);
  margin: 8px;
  text-align: center;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: solid #eee 1px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  will-change: transform, opacity; /* Optimize for animations */
}

.card-content p {
  color: #413b3b;
  font-family: sans-serif;
  word-spacing: 5px;
  line-height: 1.7;
}

.card-image {
  max-width: 100%;
aspect-ratio: 3/2;

}

h6 {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  color: #101010;
  margin-bottom: 15px;
  padding: 10px;
}

.button-wrapper {
  margin-top: 20px; /* Add space between categories and button */
}

.view-case-study-button {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.view-case-study-button:hover {
  background-color: #007bff;
  color: #fff;
}


@media screen and (max-width: 1200px) {
  .categories-card {
width: auto;
  }
}

@media screen and (max-width: 992px){
  .categories-card {
    width: calc(50% - 16px)
  }

}
@media screen and (max-width: 768px) {
  .categories-card {
    flex-basis: calc(95% - 40px); /* Adjusted width calculation */
  }
}
@media screen and (max-width: 767px) {
  .categories-card {
    flex-basis: calc(95% - 40px); /* Adjusted width calculation */
  }
}


@media screen and (max-width: 576px){
  .categories-card {
    flex-basis: calc(95% - 40px); /* Adjusted width calculation */
  }
}