/* Clients.css */

.clients {

    width: 100%;
  height: auto;
  }
  
  .container {
    max-width: 1200px;
    margin: 0;
  }
  
  .section-header-1 {
    text-align: left;
  }
  
  .section-header-1 h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #444;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    border-bottom-color: #036ad9;
    box-sizing: border-box;
  }
  
  .section-header p {
    font-size: 1.2em;
    color: #555;
  }
  
  .clients-carousel-container {
    position: relative;
  
  }
  

  
  .client-item img {
 
object-fit: contain;
    aspect-ratio: 3/2;
  }
  

