.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.categories-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.categories-card {
  color: #000;
  background-color: #fff;
  border: 1px solid #eee;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 300px; /* Fixed width for professional look */
  max-width: 100%; /* Ensure card doesn't overflow on small screens */
}

.card-content p {
  color: #413b3b;
  font-family: sans-serif;
  word-spacing: 5px;
  line-height: 1.7;
}

.card-image {
  width: 100%; /* Ensure image takes full width */
  height: auto;
  border-radius: 10px; /* Add border radius to image */
}

h6 {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  font-size: 14px;
  color: #101010;
  margin-bottom: 15px;
  padding: 10px;
}

.button-wrapper {
  margin-top: 20px;
}

.view-case-study-button {
  background: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.view-case-study-button:hover {
  background-color: #007bff;
  color: #fff;
}

@media screen and (max-width: 576px) {
  .categories-card {
    width: calc(100% - 30px);
  }
}
