.contact {
  text-align: center;
  align-items: center;
}

.contact-heading {
  font-family: sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 25px;
}

.contact-in {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 8px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.contact-map {
  order: -1; 
  height: 450px;
  margin-bottom: 40px;
}

.contact-map iframe {
  width: 100%;
  height: 100%;
}
.contact-form h2 {
  font-family: sans-serif;
  font-weight: 500;
  margin-left: 2rem;
  margin-bottom: 20px; /* Add margin bottom for spacing */
  padding-bottom: 10px; /* Add padding bottom for spacing */
  background-image: linear-gradient(to right, #003785, #ffffff); /* Define linear gradient */
  background-position: bottom; /* Position the gradient at the bottom */
  background-size: 100% 1px; /* Set the size of the gradient to cover the entire width and have a height of 2px */
  background-repeat: no-repeat; /* Prevent the gradient from repeating */
}
.contact-form {
  width: calc(50% - 10px); /* Adjust width as needed */
}
.contact-info-container {
  width: calc(50% - 10px); /* Adjust width as needed */
  margin-left: 20px; /* Adjust margin as needed */
}

.contact-form input,
.contact-form textarea {
  margin-left: 2rem;
  width: 95%;
  height: 40px;
  color: #000;
  border: 1px solid #bcbcbc;

  outline: none;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.5rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
  font-size: 1.5rem;
}
.contact-form-phone{
  border-radius: 0px;
}
.contact-form-btn
		{
            margin-left: 2rem;
            outline: none;
            border: none;
            border-radius: 5rem;
            background: white;
            border-style: groove;
            border-color: #002e5f;
            font-size: 1.5rem;
            cursor: pointer;
            height: 3.5rem;
            width: 17rem;
            box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
		}
        .contact-form-btn:hover{
            letter-spacing: .1rem;
            opacity: .9;
            color: white;
            background: #002e5f;
        }
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

  .contact-form input,
  .contact-form textarea{
    border-radius: 0%;
  }
  .contact-in {
    flex-direction: column;
    box-shadow: none;
    padding: 0%;
    width: 100%;
  }
  .contact-map,
  .contact-form {
    width: 100%;
  }
  .contact-form-btn {
    
    margin-left: 2rem;
  }
  .contact-form,
  .contact-info-container {
    width: 100%; /* Ensure full width on smaller screens */
    margin-left: 0; /* Remove margin on smaller screens */
    margin-bottom: 20px; /* Add margin bottom for spacing */
  }
  .contact-form input,
  .contact-form textarea
  {
    border: none;
    width: calc(100% - 20px);
  }
}
