/* deliveredProject.css */

.DeliveredProjects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 100%; /* Set the container to cover full width of the screen */
}

.testimonial-info {
  display: flex;
  justify-content: flex-start;
  width: 100%; /* Ensure the container takes up the full width */
  margin-right: auto; /* Push the container to the left side of the page */
}

.testimonial-heading {
  width: 100%; /* Add some space between the heading and the carousel */
  padding: 20px;
  margin-bottom: 10px;
}

.testimonial-heading h2 {
  font-size: 24px; /* Adjust heading font size */
  color: #2458ac;
  margin-bottom: 10px; /* Add some space below the heading */
}

.testimonial-heading p {
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
  max-width: 490px; /* Set the specific width for the container */
  word-spacing: 4px; /* Adjust the spacing between words */
  border-radius: 8px; /* Add border radius for rounded corners */
}


.DeliveredProjects-carousel-container {
  width: 108%;
  height: 694.691px;

}
@media only screen and (max-width: 768px) {
  .DeliveredProjects-carousel-container {
    width: 130%; /* Adjust width for smaller screens */
    height: 694.691px;; /* Adjust height for smaller screens */
  }
  .carousel-item img {
    width: 100%; /* Set the image to cover the full width of the container */
    height: 694.691px; /* Set the height of the image */
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }


}
.carousel-item img {
  width: 100%; /* Set the image to cover the full width of the container */
  height: 694.691px; /* Set the height of the image */
  object-fit: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.carousel-item img:hover {
  transform: scale(1.06);
}

.carousel-item:not(:last-child) {
  margin-right: 10px;
}
