.welcome-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh; 
  margin: 30px;
  padding: 0 20px; /* Add padding to the sides */
}

.welcome-content {
  max-width: 1100px; /* Adjust max width as needed */
  width: 100%;
  display: flex; /* Add flexbox to make the logo and text container flex items */
  align-items: center; /* Center vertically */
}

.logo-container {
  flex: 0 0 auto;
  background-color: #e8e8e8; /* Light background color */
  margin-right: 30px;
  text-align: center; /* Center the logo horizontally */
  width: 160px; /* Adjust width as needed */
  height: 160px; /* Adjust height as needed */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center the logo vertically */
  justify-content: center; /* Center the logo horizontally */
  border-radius: 50%; /* Make it round */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  margin-top: -80px; 
}


.logo {
  max-width: 100%;
  height: 90px;
}

.text-container {
  flex: 2;
}

.welcome-heading {
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.welcome-description {
  font-size: 1.5em;
  color: #555;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

.button-wrapper {
  margin: 0 10px; 
}


.view-case-study-button {
  background-color: transparent;
  color: #007bff;
  border: 2px solid #007bff;
  padding: 8px 16px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}
.read-testimonials-button{
  background-color: #007bff;
  color:#ffffff;
  font-weight: 500;
  border: 2px solid #007bff;
  padding: 8px 16px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.view-case-study-button:hover {
  background-color: #84005d;
  color: white;
}

@media screen and (max-width: 768px) {
  .welcome-container {
    height: auto; /* Adjust height to fit content */
  }
  
  .welcome-content {
    flex-direction: column; /* Stack logo and text vertically on small screens */
    text-align: center; /* Center align content */
  }
  
  .logo-container {
    margin-right: 0; /* Remove right margin on small screens */
    margin-bottom: 20px; /* Add bottom margin for spacing */
  }
  
  .logo {
    height: auto; /* Allow logo to resize according to container */
    max-height: 100px; /* Limit maximum height */
  }
  .view-case-study-button,
  .read-testimonials-button {
    padding: 6px 12px; /* Adjusted padding for smaller screens */
    font-size: 16px; /* Adjusted font size for smaller screens */
  }
  .welcome-description {
    text-align: left; /* Align paragraph text to the left on smaller screens */
  }
}